body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* HERO SECTION */

.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    align-items: center;
}

.hero-child {
    max-width: 1080px;
}

/* HEADER AREA */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 1rem;
    color: #e5e7eb;
    font-size: 18px;
}

/* HERO CONTENT AREA */

.hero-content {
    display: flex;
    flex: auto;
    padding: 80px 0;
    gap: 15px;
}

.hero-content div {
    flex: 1;
}

.hero-content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content .left h2 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-content .left p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content .left button {
    background-color: #3882f6;
    display: flex;
    flex-grow: 0;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.hero-content .right {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Column section */

.column-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-section h2 {
    font-size: 36px;
    font-weight: bold;

}

.column-child {
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
}

.box {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.img-container {
    display: flex;
    flex: 1;
    height: 150px;
    border-radius: 15px;
    border: 3px solid blue;
}

/* Quote section */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 80px 40px;
}

.quote-child {
    max-width: 1080px;
} 

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937
}

.quote-name {
    text-align: right;
    font-weight: bold;
}