body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
}

div {
    border: 1px solid black;
}

.hero {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-wrapper ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 1rem;
}

