body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
}

div {
    border: 1px solid black;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    align-items: center;
}

.hero-child {
    background-color: #1f2937;
    max-width: 1080px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-wrapper ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.hero-content {
    display: flex;
    flex: auto;
    padding: 2rem 0;
    min-height: 25rem;
}

.hero-content div {
    flex: 1;
}

.hero-content .right {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}